
body{
    margin: 0px;
    background-color: #FFFFFF ;
    font-family: 'Poppins', sans-serif;
}
.top-section{
    width: 75%;
    height: 500px;
    display: flex;
    align-items: center;
    margin: auto;
}
.text-content{
    width: 60%;
}
.text-content h1{
    border-left: 5px solid #FF7474;
    font-size: 50px;
    padding-left: 10px;
    line-height: 60px;
    font-family: 'Yeseva One', cursive;
}
.text-content p{
    width: 400px;
    color: #4B4B4B;
}

.image{
    width: 40%;
}
.image img{
    width: 100%;
}
.button{
    padding: 10px 35px;
    background-color: #FF5959;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}
.colored-text{
    color: #FFAD5A;
}
.mission-section h1{
    text-align: center;
    font-size: 50px;
}
.parent-div{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    
}
.mission{
    width: 30%;
    height: 300px;
    background-color: #EDF5F6;
    border-radius: 20px;
    padding: 20px 20px;
    margin: 5px;

}
.vision{
    width: 30%;
    height: 300px;
    background-color: #FFEEEE;
    border-radius: 20px;
    padding: 20px 20px;
    margin: 5px;


}
.goals{
    width: 30%;
    height: 300px;
    background-color: #FFF4D6;
    border-radius: 20px;
    padding: 20px 20px;
    margin: 5px;


}

.mission img{
    width: 150px;
}
.mission h3{
    padding: 0px 15px;
}
.mission p{
    padding: 0px 15px;
    line-height: 20px;
}
.vision img{
    width: 150px;
}
.vision h3{
    padding: 0px 15px;
}
.vision p{
    padding: 0px 15px;
    line-height: 20px;
}
.goals img{
    width: 150px;
}
.goals h3{
    padding: 0px 15px;
}
.goals p{
    padding: 0px 15px;
    line-height: 20px;
}

.develop-section{
    width: 80%;
    display: flex;
    margin:60px auto;
}
.develop-img{
    width: 35%;
}
.develop-img img{
    width: 100%;
}
.develop-text{
    width: 55%;
    padding: 10px 50px;
}
.know-section{
    width: 80%;
    display: flex;
    margin:80px auto;
}
.know-img{
    width: 35%;
}
.know-img img{
    width: 100%;
}
.know-text{
    width: 55%;
    padding-right: 50px;
}

footer{
    height: 150px;
    background-color: #0B0D17;
    text-align: center;
    padding-top: 20px;
    color: #B7B9BF;
    font-family: 'Poppins', sans-serif;
}
footer h1{
    color: white;
    font-family: 'Lobster', cursive;
}

.contact{
    width: 80%;
    margin: 90px auto;
    display: flex;
}
.address{
    width: 50%;
}
.address h2{
    font-size: 25px;
    border-bottom: 2px solid #FF5959;
    width: 150px;
}
.address-item{
    line-height: 1px;
    padding: 3px 0px;
}
.form{
    width: 40%;
    background-color: whitesmoke;
    padding: 30px;
    padding-top: 10px;
    border-radius: 20px;
}
.form input{
    padding: 10px;
    border: none;
    border-bottom: 1px solid #4b4a47;
}
.form textarea{
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #4b4a47;
}